.view {
    background-color: white;
    background-size: cover;
    height: 100vh;
}
.container{
    top: 100px;
    position: absolute;
    z-index: 2;
}

::ng-deep .mat-horizontal-stepper-header-container{
    border: 1px solid #ee4b5e;
}

::ng-deep .mat-horizontal-content-container{
    border-radius: 15px !important;
    margin-top: 100px;
    border: 1px solid #ee4b5e;
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel{
    margin: 0 !important;
}

::ng-deep mat-expansion-panel-header{
    border-bottom: 1px solid #ee4b5e;

}
::ng-deep .mat-expansion-panel-body{
    border-bottom: 1px solid #ee4b5e;
}
.material-icons{
    margin-right: 14px;
    color: #ee4b5e;
}
.flightBody{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}