.view {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);

    background-size: cover;
    min-height: 100vh;

}
.container{
    margin-top: 10%;
    margin-bottom: 10%;
}

::ng-deep .mat-horizontal-content-container{
    border-radius: 15px !important;
    margin-top: 100px;
    // border: 1px solid #ee4b5e;
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel{
    margin: 0 !important;
}

.material-icons{
    margin-right: 14px;
    color: #ee4b5e;
}
.flightBody{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.baggageInfo{
    margin-top: 25px;
}
.column {
    float: left;
    width: 35%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.flights-handler{
     margin-left: 38% !important;
     width: 400px;
}