<!--Footer-->
<footer class="page-footer unique-color-dark pt-4 mt-4" style="margin-top: 0 !important">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Sky Observer</h5>
                <p class="line">SkyObserver is project realized completed as a part of the diploma thesis</p>
                <p class="line">Its basic functionality is to search for air connections with the data necessary for the passenger</p>
                <p class="line">Details of the technologies used and the aeronautical data sources can be found in the About section</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Subject of thesis</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Explore map</a></li>
                    <li><a href="http://tu.kielce.pl">Kielce University of Technology</a></li>
                </ul>
            </div>  
            <!-- Hoverable -->
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright: <a href="http://tu.kielce.pl/"> Kielce University of Technology</a>
             Author: <a href="https://github.com/KryniuPL"> Krzysztof Dragan</a>
        </div>
    </div>

    
    <!--/.Copyright-->
</footer>
<!--/.Footer-->