<div class="container">
  <div class="search-engine">
    <!-- powered by Skyscanner -->
  </div>
  <div class="settings">
    <!-- Small button group -->
    <div class="btn-group settings-item" mdbDropdown>
      <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
        One way
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <!-- Small button group -->
    <div class="btn-group settings-item" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
          1 passenger
        </button>
        <div class="dropdown-menu">
          
        </div>
      </div>

      <!-- Small button group -->
    <div class="btn-group settings-item" mdbDropdown>
        <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
          Economy
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>

  </div>
  Serch panel here
</div>