<div class="container">

  <div class="settings">
    <!-- Small button group -->
    <div class="btn-group settings-item" mdbDropdown style="z-index: 3;margin-left: 36px !important">
      <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
        {{selectedJourney.name}}
      </button>
      <div class="dropdown-menu">
        <a *ngFor="let option of journeyOptions" class="dropdown-item" (click)="changeTypeOfJourney(option)">
          {{option.name}}
          <i *ngIf="option.isSelected" class="fa fa-check" aria-hidden="true" style="margin-left: 10px"></i>
        </a>
      </div>
    </div>

    <!-- Number of passengers button group -->
    <div class="btn-group settings-item" mdbDropdown style="z-index: 3;">
      <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect
        (click)="basicModal.show()">
        <span *ngIf="allPassengers.length === 1"> 1 Passenger </span>
        <span *ngIf="allPassengers.length > 1">{{ allPassengers.length }} Passengers</span>
      </button>
    </div>

    <!-- Class button group -->
    <div class="btn-group settings-item" mdbDropdown style="z-index: 3;">
      <button mdbDropdownToggle mdbBtn color="elegant" size="sm" class="dropdown-toggle waves-light" type="button" mdbWavesEffect>
        {{selectedClass.name}}
      </button>
      <div class="dropdown-menu">
        <a *ngFor="let flightClass of flightsClasses" class="dropdown-item" (click)="changeFlightClass(flightClass)">
          {{flightClass.name}}
          <i *ngIf="flightClass.isSelected" class="fa fa-check" aria-hidden="true" style="margin-left: 10px"></i>
        </a>
      </div>
    </div>

  </div>

  <div class="round-trip" *ngIf="multiTrip === false">
    <form>

      <mat-form-field class="input" appearance="fill" style="margin-left: 36px">
        <input type="text" placeholder="Where from?" aria-label="Number" matInput [formControl]="originAirportControl" [matAutocomplete]="auto" onClick="this.select();">
        <i class="material-icons" matPrefix>flight_takeoff</i>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of airports" [value]="item.municipality + '  ' + '(' + item.iataCode + ')' ">
              <i class="material-icons" style="color: black;margin-top:20px;">
                  local_airport
              </i>
            {{ item.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button type="button" class="btn btn-circle btn-lg" style="background-color: #ee4b5e">
        <i class="material-icons" style="font-size: 30px;padding-right: 16px; 
            top: 50%;
            left: 50%;
            height: 60%;
            transform: translate(-50%, -50%);
            display: block;">compare_arrows</i>
      </button>

      <mat-form-field class="input" appearance="fill" >
          <input type="text" placeholder="Where from?" aria-label="Number" matInput [formControl]="desitnationAirportControl" [matAutocomplete]="auto2" onClick="this.select();">
          <i class="material-icons" matPrefix>flight_land</i>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let item of destinationAirports" [value]="item.municipality + '  ' + '(' + item.iataCode + ')' ">
                <i class="material-icons" style="color: black;margin-top:20px;">
                    local_airport
                </i>
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      <mat-form-field class="date" [style.width.%]="oneWay ? 42 : 20" appearance="fill" style="margin-left: 20px">
        <input [min]="startDate" matInput [matDatepicker]="picker" placeholder="Departure date">
        <mat-datepicker-toggle matSuffix [for]="picker" class="datesIcons"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker startView="month" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="selectedJourney.name === 'Round Trip'" appearance="fill" style="margin-left: 10px">
        <input matInput [matDatepicker]="picker2" placeholder="Return date">
        <mat-datepicker-toggle matSuffix [for]="picker2" class="datesIcons"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2></mat-datepicker>
      </mat-form-field>

    </form>
    <div *ngIf="multiTrip === false" style="background-color: #1C2331;">
    <button id="searchButton" mat-raised-button color="warn">
        <i class="material-icons" style="margin-bottom: 8px;">
            search
        </i>
        SEARCH
      </button>
    </div>
  </div>
  <app-multi-travel *ngIf="multiTrip === true">

  </app-multi-travel>

</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header unique-color-dark" style="color:white;">
        <p class="heading lead">Passengers on trip</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <span>Adults</span>
            <button class="passengersButtons" mat-icon-button color="basic" [disabled]="adults.length < 2" (click)="deletePassenger('Adult')">
              <mat-icon class="passengersIcons" aria-label="Example icon-button with a heart icon">remove</mat-icon>
            </button>
            {{adults.length}}
            <button class="passengersButtons"  mat-icon-button color="basic" [disabled]="adults.length === 9" (click)="addPassanger('Adult')">
              <mat-icon  class="passengersIcons" aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span>Children</span>
            <button class="passengersButtons"  mat-icon-button color="basic" [disabled]="children.length < 1" (click)="deletePassenger('Child')">
              <mat-icon class="passengersIcons" aria-label="Example icon-button with a heart icon">remove</mat-icon>
            </button>
            {{children.length}}
            <button class="passengersButtons"  mat-icon-button color="basic" [disabled]="children.length === 9" (click)="addPassanger('Child')">
              <mat-icon class="passengersIcons" aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span>Infants</span>
            <button  class="passengersButtons" mat-icon-button color="basic" [disabled]="infants.length < 1" (click)="deletePassenger('Infant')">
              <mat-icon class="passengersIcons" aria-label="Example icon-button with a heart icon">remove</mat-icon>
            </button>
            {{infants.length}}
            <button class="passengersButtons"  mat-icon-button color="basic" [disabled]="infants.length === 9" (click)="addPassanger('Infant')">
              <mat-icon class="passengersIcons" aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="modal-footer">
        <button style="width: 35%" type="button" mdbBtn color="mdb-color" class="relative waves-light" aria-label="Close" (click)="basicModal.hide()"
          mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect (click)="submitPassengersDialog();basicModal.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>