<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="">SkyObserver</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Explore map</a>
      </li>
    </ul>

    <!-- Right -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" class="nav-link border border-light rounded" data-target="#basicExampleModal">
          <i class="fa fa-cogs" aria-hidden="true" data-target="#basicExampleModal"></i>
          <span class="clearfix d-none d-sm-inline-block" data-target="#basicExampleModal">Settings</span>
        </a>
      </li>
      <li class="nav-item" style="margin-left: 3px">
        <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded" target="_blank">
          <i class="fa fa-github mr-2"></i>SkyObserver GitHub
        </a>
      </li>
    </ul>

  </links>
</mdb-navbar>


<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>