<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="">SkyObserver</a>
  </mdb-navbar-brand>
  
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']" >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" (click)="changeStyle()">
        <a class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" [routerLink]="['/explore-map']" mdbWavesEffect>Explore map</a>
      </li>
    </ul>

    <!-- Right -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" class="nav-link border border-light rounded" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
          mdbWavesEffect>
          <i class="fa fa-cogs" aria-hidden="true" data-target="#basicExampleModal"></i>
          <span class="clearfix d-none d-sm-inline-block" data-target="#basicExampleModal">Settings</span>
        </a>
      </li>
      <li class="nav-item" style="margin-left: 3px">
        <a href="https://github.com/KryniuPL/SkyObserver" class="nav-link border border-light rounded" target="_blank">
          <i class="fa fa-github mr-2"></i>SkyObserver GitHub
        </a>
      </li>
    </ul>

  </links>
</mdb-navbar>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header unique-color-dark">
        <p class="heading lead">Settings panel</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Language</label>
          <select class="form-control special-color-dark" id="exampleFormControlSelect1" [(ngModel)]="selectedLanguage.name">
            <option *ngFor="let language of languages" [value]="language.name"> {{language.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Currency</label>
          <select class="form-control special-color-dark" id="exampleFormControlSelect1" [(ngModel)]="selectedCurrency.name">
            <option *ngFor="let currency of currencies" [value]="currency.name"> {{currency.name}} </option>
          </select>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect (click)="saveUserLanguageAndCurrencySettings(selectedLanguage,selectedCurrency);frame.hide();">
          Save
          <mdb-icon icon="check" class="mr-1"></mdb-icon>
        </button>
        <button mdbBtn type="button" color="mdb-color" class="waves-light" mdbWavesEffect (click)="frame.hide()">
          Cancel
          <mdb-icon icon="times" class="mr-1"></mdb-icon>
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

