<div class="multi-trip" *ngFor="let flight of flights">
  <form>

    <mat-form-field [color]="color" appearance="fill" style="margin-left: 40px">
      <input type="text" placeholder="Where from?" aria-label="Number" matInput [formControl]="flight.originAirportControl" [matAutocomplete]="auto" onClick="this.select();">
      <i class="material-icons" matPrefix>
        flight_takeoff
      </i>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of flight.originAirports" [value]="item.municipality + ' ' + '(' + item.iataCode + ')' ">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button type="button" class="btn btn-circle btn-lg" style="background-color: #ee4b5e">
      <i class="material-icons" style="font-size: 30px;padding-right: 16px; 
          top: 50%;
          left: 50%;
          height: 60%;
          transform: translate(-50%, -50%);
          display: block;">compare_arrows</i>
    </button>

    <mat-form-field [color]="color" appearance="fill">
        <input type="text" placeholder="Where to?" aria-label="Number" matInput [formControl]="flight.destinationAirportControl" [matAutocomplete]="auto2" onClick="this.select();">
        <i class="material-icons" matPrefix>
          flight_land
        </i>
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let item of flight.destinationAirports" [value]="item.municipality + ' ' + '(' + item.iataCode + ')' ">
            {{item.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field class="date" [style.width.%]="36" appearance="fill" style="margin-left: 20px">
      <input [min]="flight.minDate" matInput [matDatepicker]="picker" placeholder="Departure date" (dateChange)="setDateOfMultiTravelOption(flight, $event);" disabled> 
      <mat-datepicker-toggle matSuffix [for]="picker" class="datesIcons"></mat-datepicker-toggle>
      <mat-datepicker disabled="false" touchUi #picker></mat-datepicker>
    </mat-form-field>

    <button mat-icon-button class="clear" *ngIf="flights.length > 1">
      <mat-icon aria-label="Example icon-button with a heart icon" style="margin-top: 0; height: 35px;" (click)="deleteFlight(flight)" >clear</mat-icon>
    </button>
  </form>
</div>

<div id="adderDiv">
  <button id="adderButton" *ngIf="flights.length < 5" mat-stroked-button (click)="createInstanceOfMultiFlightOptions()">Add Flight</button>
</div>

<div style="background-color: #1C2331;">
    <button id="searchButton" mat-raised-button color="warn">
      <i class="material-icons" style="margin-bottom: 8px;">
        search
      </i>
      SEARCH
    </button>
  </div>